.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app__search-input {
  margin: 20px auto;
  width: 30%;
  height: 30px;
}

.app__map-container {
  max-height: 300px;
}
